{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
            <h1>BRP controle</h1>
            <p class="lead">Log in</p>
            <a href="{{{authUrl}}}" class="btn btn-primary waves-effect waves-light display-table">
                <span class="title"> Inloggen </span><span class="assistive">via DigiD</span>
            </a>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}