<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{#title}} - {{.}} {{/title}}</title>
    <link rel="stylesheet" href="/static/styles/screen.css">
  </head>
  <body>
    <nav>
      <a href="#">Terug naar Tribe</a>
    </nav>

