{{>header}}
<script src="/static/js/home.js" defer></script>

<h1>Controleer persoonsgegevens</h1>
<main>
{{#error}}
<p class="warning">{{error}}</p>
{{/error}}
{{^error}}
    <form id="checkbsn" action="/" method="POST">
      <input type="hidden" name="contact_id" value="{{contact_id}}" />
      <input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
      <fieldset>
        <legend>Controleer op BSN</legend>
        <div class="input">
          <label>Wat is uw BSN</label>
          <input name="bsn" value="{{bsn}}" data-copy />
        </div>
        <div><strong>Nieuw:</strong> BSN's met punten of koppeltekens (123.456.789) worden nu ook herkend.</div>
      </fieldset>
      <div class="actions">
        <input type="submit" value="Controleren" />
      </div>
    </form>
    {{>controle_form}}
{{/error}}
</main>
