{{>header}}

<main>
    <h1>BRP Controle</h1>
</main>

{{>footer}}
    <h1>Controleer persoonsgegevens</h1>
    <form action="/" method="POST">
      <fieldset>
        <legend>Controleer op BSN</legend>
        <label>Wat is uw BSN</label>
        <input type="number" name="bsn" />
      </fieldset>
      <div class="actions">
        <input type="submit" value="Controleren" />
      </div>
    </form>
    <form action="" method="POST">
      <h2>Controlegegevens</h2>
      <p>Zoek een persoon om controlegegevens weer te geven.</p>
      {{! <dl>
        <dt>
          Geboortedatum
        </dt>
        <dd>
          21-11-1984
        </dd>
        <dt>
          Achternaam
        </dt>
        <dd>
          Van Stoffer tot Zeem
        </dd>
        <dt>
          Woonplaats
        </dt>
        <dd>
          Nijmegen
        </dd>
      </dl> }}
      <div class="actions">
        <input type="submit" value="Koppelen aan afhandeling" />
        <a href="#">Terug zonder koppelen</a>
      </div>
    </form>